---
import BaseHead from "../components/BaseHead.astro";
import {AstroSeo} from "@astrolib/seo";
---

<html
  lang="en"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated">

  <head>
    <AstroSeo
        title="ACK | Posredovanja u prodaji elektronskih usluga"
        description="Posredovanja u prodaji elektronskih usluga"
        canonical="https://www.ackrila.com"/>
    <BaseHead />
  </head>

  <body class="bg-white">
    <slot />
  </body>
</html>
