---
import WebShopButton from "./WebShopButton.astro";
---
<div class=" mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-center px-8 py-24">
  <div class="bg-gray-700 rounded-xl overflow-hidden mx-auto">
    <div class="px-8 py-8 mx-auto max-w-7xl sm:px-6 md:px-6">
      <div class="flex justify-between gap-3 flex-col sm:flex-row">
          <div>
            <h2 class="mx-auto text-white/80 lg:text-2xl">
              Počnite koristiti nas <span class="font-bold">Webshop</span> već danas.
            </h2>
            <p class="max-w-3xl mx-auto mt-1 text-white/50 lg:text-sm">
              Pridružite se 100.000 zadovoljnih korisnika.
            </p>
          </div>
          <WebShopButton />
      </div>
    </div>
  </div>
</div>