---
const servicesApi = `${import.meta.env.PUBLIC_ACK_API_EP}/api/v1/services/`;
---
<section id="pocetna">
    <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
        <div class="flex gap-5 flex-wrap justify-center"
             x-data="{
                    services: {},
                    async fetchServices() {
                        this.result = await (await fetch(window.servicesApi))
                        .json()
                        .then(data => {
                                    this.services = data.data;
                                })
                                .catch(error => {
                                console.log('dfsdf',error)});

                        }
                    }"
             x-init="fetchServices()">

            <template x-for="service in services" :key="service.id">
                <div class="flex justify-center col-span-1">
                    <a :href="'/webshop/' + service.id" class="hover:scale-110 transition duration-500 cursor-pointer">
                        <img class="max-h-12" :src="'/services/' + service.imageName">
                    </a>
                </div>
            </template>
        </div>
    </div>
</section>

<script is:inline define:vars={{ servicesApi }}>
    window.servicesApi = servicesApi;
</script>