<section class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="flex gap-6 flex-wrap justify-center pt-3 pb-3">
        <div class="h-10">
            <img alt="" class="h-10"src="/partners/abc_bon.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/admiral.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/bet_ole.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/BH_T.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/bin_bin.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/Haloo.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/Hej.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/kliker.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/m_tel.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/max_bet.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/md_shop.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/meridijan.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/mozzart.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/novotel.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/olx.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/premier_sk_2.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/volcano_bet.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/wwin.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/x_bon_crni.svg">
        </div>
        <div class="h-10">
            <img alt="" class="h-10" src="/partners/x_live.svg">
        </div>
    </div>
</section>