<section class="mt-10 mb-10 mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="swiper mySwiper h-10">
        <div class="swiper-wrapper h-1">
            <img class="swiper-slide h-1" src="/partners/m_tel.svg" alt="mtel">
            <img class="swiper-slide h-1" src="/partners/BH_T.svg" alt="BH T">
            <img class="swiper-slide h-1" src="/partners/Haloo.svg" alt="Haloo">
            <img class="swiper-slide h-1" src="/partners/abc_bon.svg" alt="abc bon">
            <img class="swiper-slide h-1" src="/partners/admiral.svg" alt="admiral">
            <img class="swiper-slide h-1" src="/partners/bet_ole.svg" alt="bet ole">
            <img class="swiper-slide h-1" src="/partners/bin_bin.svg" alt="bin bin">
            <img class="swiper-slide h-1" src="/partners/Hej.svg" alt="Hej">
            <img class="swiper-slide h-1" src="/partners/kliker.svg" alt="Kliker">
            <img class="swiper-slide h-1" src="/partners/max_bet.svg" alt="max bet">
            <img class="swiper-slide h-1" src="/partners/md_shop.svg" alt="md shop">
            <img class="swiper-slide h-1" src="/partners/meridijan.svg" alt="meridijan">
            <img class="swiper-slide h-1" src="/partners/mozzart.svg" alt="mozzart">
            <img class="swiper-slide h-1" src="/partners/novotel.svg" alt="novotel">
            <img class="swiper-slide h-1" src="/partners/olx.svg" alt="olx">
            <img class="swiper-slide h-1" src="/partners/premier_sk_2.svg" alt="premier">
            <img class="swiper-slide h-1" src="/partners/volcano_bet.svg" alt="volcano bet">
            <img class="swiper-slide h-1" src="/partners/wwin.svg" alt="wwin">
            <img class="swiper-slide h-1" src="/partners/x_bon_crni.svg" alt="X Bon">
            <img class="swiper-slide h-1" src="/partners/x_live.svg" alt="X Live">
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script is:inline>
    const swiper = new Swiper(".mySwiper", {
        slidesPerView: 2,
        spaceBetween: 10,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        // pagination: {
        //     el: ".swiper-pagination",
        //     clickable: true,
        // },
        breakpoints: {
            640: {
                slidesPerView: 4,
                spaceBetween: 0,
            },
            768: {
                slidesPerView: 5,
                spaceBetween: 0,
            },
            1024: {
                slidesPerView: 7,
                spaceBetween: 0,
            },
        },
    });
</script>
