<section class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="flex gap-6 flex-wrap justify-center pt-3 pb-3">
        <div class="h-10">
            <img class="h-10" src="/partners/abc_bon.svg" alt="abc bon">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/admiral.svg" alt="admiral">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/bet_ole.svg" alt="bet ole">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/BH_T.svg" alt="BH T">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/bin_bin.svg" alt="bin bin">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/Haloo.svg" alt="Haloo">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/Hej.svg" alt="Hej">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/kliker.svg" alt="Kliker">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/m_tel.svg" alt="mtel">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/max_bet.svg" alt="max bet">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/md_shop.svg" alt="md shop">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/meridijan.svg" alt="meridijan">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/mozzart.svg" alt="mozzart">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/novotel.svg" alt="novotel">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/olx.svg" alt="olx">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/premier_sk_2.svg" alt="premier">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/volcano_bet.svg" alt="volcano bet">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/wwin.svg" alt="wwin">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/x_bon_crni.svg" alt="X Bon">
        </div>
        <div class="h-10">
            <img class="h-10" src="/partners/x_live.svg" alt="X Live">
        </div>
    </div>
</section>