<a class="max-w-min h-12 font-medium rounded-lg text-white
focus-visible:outline-white focus:outline-none
bg-red-600 duration-200 focus-visible:ring-white
hover:bg-red-500 lg:w-auto px-6 py-3"
   href="/webshop">
    Webshop
</a>